
    .NotificationRoot{
        padding-top: 20px;
        text-align: center;
        .textArea{
            font-size: 20px;
        }
        .textAreaLarge{
            margin: 0 102px 0 182px
        }
        .sentTo{
            margin-right: 50px;
            font-size: 20px;
            font-weight: bold
        }
        .button{
            font-size: 20px;
            margin: 20px;
            }
      }
  
  
  
  