
    .SuspendRoot{
        padding-top: 20px;
        text-align: center;
        .textArea{
            font-size: 20px;
        }
        .button{
              font-size: 20px;
              margin: 20px;
          }
      }